<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" href="index.html">conduit</a>
    <ul class="nav navbar-nav pull-xs-right">
      <!-- Add "active" class when you're on that page" -->
      <li class="nav-item active">
        <a class="nav-link" href="#/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/create">
          <i class="ion-compose"></i>&nbsp;New Post
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/settings">
          <i class="ion-gear-a"></i>&nbsp;Settings
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/login">Sign in</a>
        <a class="nav-link" href="#/signup">Sign up</a>
      </li>
    </ul>
  </div>
</nav>

